*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
Body{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.7rem;
    background: linear-gradient(to right, orange, black);
    color: white;
}
h1{
  font-size: 2.4rem;
  margin-bottom: 1rem;
  text-transform: capitalize;
  line-height: 1.2;
}
.container{
    max-width: 1170px;
    margin: auto;
    padding: 0 15px;
    
}
.section-header{
   margin-bottom: 5rem;
}

.testimonials{
padding: 100px 0;
}
.testimonials-items{
    background-color: white;
    
    padding: 3rem;
    border-radius: 30px;
}
.testimonials-items p{
    margin-top: 2rem;

}
